<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <link rel="stylesheet" type="text/css"
        href="static/js/DataTables-1.10.13/media/css/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css"
        href="static/js/DataTables-1.10.13/extensions/Responsive-2.1.1/css/responsive.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css"
        href="static/js/DataTables-1.10.13/extensions/Select-1.2.2/css/select.dataTables.min.css"/>

        <style>
            #mapid {
            height: 300px;

            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 50px;
            }
        </style>
    </head>

{% block content %}
{% csrf_token %}
    <div id="mapid"></div>
    <div style="text-align:center; margin-top:380px; margin-left:50px; margin-right:50px;">
        Distance (in kms): <input type="text" id="distance"/>
        <button id="calc_distance" type="button">Go</button>
    </div>
    <div style="text-align:center; margin-left:50px; margin-right:50px;">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tagline</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Organization</th>
                </tr>
            </thead>
        </table>
    </div>

{% endblock content %}
{% block scripts %}
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>
        <script src="static/js/jquery-3.2.1/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript"
        src="static/js/DataTables-1.10.13/media/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript"
        src="static/js/DataTables-1.10.13/extensions/Responsive-2.1.1/js/dataTables.responsive.min.js"></script>
        <script type="text/javascript"
        src="static/js/DataTables-1.10.13/extensions/Select-1.2.2/js/dataTables.select.min.js"></script>
        <script>

            $(document).ready(function() {
                var mymap;
                var example = $('#example').DataTable();

                BASEMAP_CONSTS = {
                    'DATA_URL': 'https://mobilize-mock-api.herokuapp.com/api/events',
                    'ACCESS_TOKEN': 'pk.eyJ1Ijoic29tZXVzZXJuYW1ld2hhdGlzdGhlcG9pbnQiLCJhIjoiY2o5NzJkb3czMDJuaTMybXF2MTk3ZTM1cyJ9.SoQvv0DNvw6j8170P6CBiw',
                    'MAP_URL': 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}',
                    'ATTRIBUTION': 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'
                };

                function initializeMap() {
                    mymap = L.map('mapid').setView([37.7749, -122.4194], 13);
                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                        attribution: BASEMAP_CONSTS['ATTRIBUTION'],
                        maxZoom: 18,
                        id: 'mapbox.streets',
                        accessToken: BASEMAP_CONSTS['ACCESS_TOKEN']
                    }).addTo(mymap);
                }

                function clearMap() {
                    mymap.remove();
                }

                function resetInputs() {
                    $("#eventlist").text("");
                    example.clear();
                }

                function addRow(d) {
                    example.row.add([
                                        d['name'],
                                        d['tagline'],
                                        d['description'],
                                        d['location']['location_name'],
                                        d['organization']['name']
                                        ]);
                }

                $("#calc_distance").click(function (data) {
                    var inpDist = parseInt($("#distance").val());

                    if ($("#distance").val() === '') {
                        alert("Please enter an integer value ");
                        return;
                    }

                    resetInputs();

                    if (mymap != undefined || mymap != null) {
                        clearMap();
                        initializeMap();
                    }
                    $.getJSON(BASEMAP_CONSTS['DATA_URL'],
                        function (data) {
                            data.data.events.forEach(
                                function (d) {
                                    var dist = calcCrow(37.7749, -122.4194, d.location.latitude, d.location.longitude);
                                    if (dist < inpDist) {
                                        var marker = L.marker([d.location.latitude, d.location.longitude]);
                                        marker.bindPopup(d.tagline).openPopup();
                                        marker.addTo(mymap);
                                        addRow(d);
                                    }
                                }
                            )
                            example.draw();
                        });
                });

                $.getJSON(BASEMAP_CONSTS['DATA_URL'],
                    function (data) {
                        resetInputs();
                        initializeMap();
                        data.data.events.forEach(
                            function (d) {
                                addRow(d);
                                var marker = L.marker([d.location.latitude, d.location.longitude]);
                                marker.bindPopup(d.tagline).openPopup();
                                marker.addTo(mymap);
                            }
                        )
                        example.draw();
                    }
                );

                //This function takes in latitude and longitude of two location and returns the distance between them as the crow flies (in km)
                function calcCrow(lat1, lon1, lat2, lon2) {
                    var R = 6371; // km
                    var dLat = toRad(lat2 - lat1);
                    var dLon = toRad(lon2 - lon1);
                    var lat1 = toRad(lat1);
                    var lat2 = toRad(lat2);

                    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
                    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    var d = R * c;
                    return d;
                }

                // Converts numeric degrees to radians
                function toRad(Value) {
                    return Value * Math.PI / 180;
                }
            });
        </script>
{% endblock scripts %}
</html>